#footer-c-f{
    padding: 50px 0;
    background-color: rgb(22, 21, 21)
}
#footer-c-f #footer-c #footer-item{
    color: white;
}
#footer-c-f #footer-c #footer-item h4{
    font-weight: 600;
}

#footer-c-f #footer-c #footer-item p{
   padding: 10px;
}
#footer-c-f #footer-c #footer-item p a{
   text-decoration: none;
   font-size: 18px;
//    font-weight: 700;
   color: white;
}