#work-c-f{
    padding: 100px 0;
}
#work-c-f #work-c h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 100px;
}
#work-c-f #work-c #work-item-wrap{
    padding: 20px 30px;
    cursor: pointer;
}
#work-c-f #work-c #work-item{
    height: auto;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
#work-c-f #work-c #work-item img{
    height: 200px;
    width: 100%;
    border-radius: 10px;
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    // border-bottom-right-radius: 20px;
    // border-bottom-left-radius: 50px;
}
#work-c-f #work-c #work-item p{
    text-align: center;
    padding: 25px;
}
#work-c-f #work-c #work-item button{
    font-weight: 700;
    margin-bottom: 20px;
}
#work-c-f #work-c #work-item button a{
    text-decoration: none;
}