#slove-cf #slove-c h3{

}
#slove-cf #slove-c #slove-wrap{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    border: 1px solid rgb(145, 143, 143);
    background-color: white;
}
#slove-cf #slove-c #slove-wrap #slove-item{
    width: 100%;
}
#slove-cf #slove-c #slove-wrap #slove-item img{
    display:block;
    width: 100%;
    height: 200px;
    border-radius: 10px;
 //    padding: ;
    margin: 0 auto;
}
#slove-cf #slove-c #slove-wrap #slove-itema a{
    text-decoration: none;
}
#slove-cf #slove-c #slove-wrap #slove-itema a button{
    font-weight: 600;
    color: white;
}