#banner2-c-f{
    height: 380px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("https://cdn.pixabay.com/photo/2017/10/27/15/12/geeks-2894621_640.jpg");
}
#banner2-c-f #bn2-c-f2{
    height: 380px;
    width: 100%;
    background-color:rgb(0 , 0 , 0 , 0.8);
}
#banner2-c-f #bn2-c-f2 h3{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding: 150px 0 0 0;
    color: white;
    // background-color: red;
}