#worktogether-c-f{
    padding: 80px 0;
}
#worktogether-c-f h3{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
#worktogether-c-f #worktogether-wrapper{
    // width: 50%;
}
#worktogether-c-f #worktogether-wrapper button{
    width: 100%;
    padding: 8px 0;
}