#about-wrap{
    padding-top: 50px;
    padding-bottom: 150px;
}
#about-wrap h3{
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 30px;
}
#about-wrap button{
    font-weight: 700;
    margin: 10px 0;
}